@page "/"

<PageTitle>BarCode Reader</PageTitle>

<h1>BarCode Reader</h1>
<h3>wad-barcode_reader-wasm</h3>
<p>Lic. Rafael Brenes (rbrenesr)</p>


<p>
    El objetivo de este proyecto es utilizar varias formas para realizar una lectura de códigos de barras,
    utilizando librerías disponibles open source, así como código generado JS.
</p>

//listado ordenado de las librerías utilizadas
<ol>
    <li>BarcodeReader</li>
    <li>ZXing.Net</li>
    <li>Aspose.BarCode</li>
    <li>QuaggaJS</li>
</ol>